body{
   
}

.container{
    display: flex;
    margin: 5px;
    margin-top: 20px;
    max-width: 800px;
    margin-left: 90px;
    gap: 50px;
}

.container2{
    display: flex;
    margin: 5px;
    max-width: 800px;
    margin-left: 90px;
    gap: 50px;
    margin-top: 50px;
    
}

.carro1{
    background-color:aliceblue;
    border: 4px solid black;
    max-width: 400px;
}

.carro2{
    background-color: aliceblue;
    border: 4px solid black;
    max-width: 400px;
}

.carro3{
    background-color: aliceblue;
    border: 4px solid black;
    max-width: 400px;
}

.superior{
    height: 20px;
    background-color: black;
}

.inferior{
   height: 20px;
   background-color: black;
   margin-top: 20px;
}

.link{
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-left: 10px;
}

.texto{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

h2, h3{
    margin-left: 10px;
}

